*{
    background-color: skyblue;
    
}

#header{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}
.List-container{
    list-style: none;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

.list-link,
.list-link:visited{
    text-decoration:none;
    color: black;
}